import { defineConfig } from 'vite'
import react from '@vitejs/plugin-react'
import path from 'path'

export default defineConfig({
  plugins: [react()],
  assetsInclude: ['**/*.glb'],
  resolve: {
    alias: {
      '@': path.resolve(__dirname, 'src')
    },
  },
  publicDir: 'public',
  build: {
    rollupOptions: {
      // 移除external空数组，避免与manualChunks冲突
      output: {
        manualChunks: (id) => {
          if (id.includes('node_modules/gsap')) {
            return 'gsap';
          }
        }
      }
    }
  }
})
